/*****  Fonts *****/
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Pobeda-Bold';
    src: url('../fonts/Pobeda-Bold.woff');
}
@font-face {
    font-family: 'Courier New';
    src: url('../fonts/cour.ttf');
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
/***** End  Fonts *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-color: #797979;
}

body {
    margin: auto;
    width: 1000px;
    height: 1900px;
    background: url('../images/background.png');
}
/***** Header *****/
.header {
    display: flex;
}

.logo {
    position: relative;
    left: 112px;
    margin: 48px 0 0 0;
    padding: 17px 0 6px 7px;
    width: 77px;
    height: 77px;
    background-color: #e13227;
    color: #FFF;
    text-decoration: none;
    font-size: 23px;
    font-family: 'PT Sans', sans-serif;
}

.text-rotate {
    position: relative;
    left: 617px;
    margin: 48px 0 0 2px;
    padding: 10px;
    width: 245px;
    height: 96px;
    border: 2px solid #132378;
    text-align: center;
    transform: rotate(-3deg);
    color: #132378;
}

.text-rotate__big {
    margin: 0;
    font-size: 40px;
}

.text-rotate__small {
    margin: 0;
    font-size: 13px;
}
/***** End Header *****/
/***** Main-content ****/
.main-content {
    margin: 29px 112px 0 112px;
}

.form-group {
    display: flex;
}

.form-group_col {
    display: flex;
    flex-direction: column;
}

.text__brown {
    color : #2e1a15;
}

.text__big {
    font-size: 24px;
}

.text__small {
    font-size: 15px;
}

.file {
    color: #562c17;
    text-align: center;
    font-size: 100px;
    font-family: 'Pobeda-Bold';
}

.form-group_text {
    color: #000000;
    font-size: 21px;
}

.label {
    font-family: 'PT Sans', sans-serif;
    font-size: 22.44px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: flex-end;  
}

.line {
    flex: 1;
    background: none;
    font-family: 'Courier New';
    color: #231f20;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    border: 0;
    border-bottom: 2px solid #38211a;
    margin-left: 15px;
    padding-left: 15px
}
/***** End Main-content ****/