/*****  Fonts *****/
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Pobeda-Bold';
    src: url('../fonts/Pobeda-Bold.woff');
}
@font-face {
    font-family: 'Courier New';
    src: url('../fonts/cour.ttf');
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
/***** End  Fonts *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-color: #797979;
}

body {
    margin: auto;
    width: 1000px;
    height: 100%;
    background: url('../images/background.png');
}
/***** Header *****/
.header {
    display: flex;
}

.header_logo {
    position: relative;
    left: 112px;
    margin: 48px 0 0 0;
    padding: 17px 0 6px 7px;
    width: 77px;
    height: 77px;
    background-color: #e13227;
    color: #FFF;
    text-decoration: none;
    font: 23px 'PT Sans', sans-serif;
}

.header_text-rotate {
    display: flex;
    position: relative;
    left: 617px;
    margin: 48px 0 0 2px;
    width: 245px;
    height: 96px;
    border: 2px solid #132378;
    text-align: center;
    transform: rotate(-3deg);
    color: #132378;
    flex-direction: column;
    justify-content: center;
}

.header_text-rotate__big {
    margin: 0;
    font-size: 35px;
}

.header_text-rotate__small {
    margin: 0;
    font-size: 13px;
}
/***** End Header *****/
/***** Main-content ****/
.main-content {
    margin: 5px 112px 0 112px;
}

.form {
    margin-top: 50px;
}

.form-block {
    margin-bottom: 60px;    
}

.form-group {
    display: flex;
    margin-bottom: 25px;
}

.form-group_col {
    display: flex;
    flex-direction: column;
    margin-right: 63px;
}

.text-file {
    color: #562c17;
    text-align: center;
    font: 120px 'Pobeda-Bold'; 
}

.text-label {
    font: 700 22.44px 'PT Sans', sans-serif;
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.text-line {
    flex: 1;
    background: none;
    font: 400 30px 'Courier New';
    color: #231f20;
    line-height: 36px;
    text-align: left;
    border: 0;
    border-bottom: 2px solid #38211a;
    margin-left: 15px;
    padding-left: 15px;
}

.text__brown {
    color : #2e1a15;
}

.text__big, text__small {
    font-family: 'PT Sans', sans-serif;
}

.text__big {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.text__small {
    font-size: 15px;
    line-height: 23px;
    color: #3d3d3d;
    margin: 5px 0 20px 0;
}

.form-group_text {
    color: #000000;
    font: 700 20px 'PT Sans', sans-serif;
    background: none;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.form-group_text__text-radio {
    margin: 0 15px 0 5px;
}

[type = "checkbox"], [type = "radio"] {
    display: none;
}

.form-group_checkbox, .form-group_radio {
    position: relative;
}

.form-group_checkbox {
    background: url('../images/checkbox.png') no-repeat;
    width: 19px;
    height: 18px;
    margin-right: 5px;
}

[type = "checkbox"]:checked + .form-group_checkbox::before {
    content: "";
    display: block;
    background: url('../images/checkbox__check.png') no-repeat;
    width: 21px;
    height: 27px;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.form-group_radio {
    border: 2px solid #503021;
    border-radius: 12px;
    width: 24px;
    height: 24px;
}

[type = "radio"]:checked + .form-group_radio::before {
    content: "";
    display: block;
    background: #503021;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
}

#textarea-notes {
    background:
        linear-gradient(rgba(255,255,255, 0) 1.9em, rgba(46, 20, 17, 1) 2em) 0 0;
    background-size: 2em 2em;
    line-height: 2;
    resize: none;
    width: 100%;
    font-family: 'Courier New';
    font-weight: 400;
    border: none;
    padding-top: 10px;
    height: 200px;
    font-size: 30px;
    color: #231f20;
    overflow: hidden;
}

.textarea-hidden {
    display: none;
    white-space: pre-wrap;
    width: 100%;
    min-height: 200px;
    font-size: 30px;
    padding: 5px;
    word-wrap: break-word;
}

/***** End Main-content ****/
